iframe {
    max-width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
code,
tt {
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #007aff;
    background-color: #007aff;
    border-radius: 10px;
    font-family: Consolas, 'Liberation Mono', Courier, monospace;
    font-size: 15px;
    color: white;
}